@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* ROOT VARIABLES */

:root {
  /* Color variables */
  --darkColor: #102C2F;
  --lightColor: #FFFFFF;
  --darkColorTransparent: rgba(16, 44, 47, .8);
  --lightColorTransparent: rgba(255, 255, 255, .8);
  --redColor: #cd003d;
  --brownColor: #706261;
  /* Font size variables */
  --h1SizeDesktop: 32px;
  --h1SizeMobile: 20px;
  --h2SizeDesktop: 28px;
  --h2SizeMobile: 16px;
  --subtitleSizeDesktop: 20px;
  --subtitleSizeMobile: 13px;
  --textoMSizeDesktop: 15px;
  --textoMSizeMobile: 11px;
  --textoLSizeDesktop: 16px;
  --textoLSizeMobile: 14px;
  /* Font weight variables */
  --h1WeightDesktop: 700;
  --h1WeightMobile: 700;
  --h2WeightDesktop: 300;
  --h2WeightMobile: 300;
  --subtitleWeightDesktop: 500;
  --subtitleWeightMobile: 500;
  --textoMWeightDesktop: 500;
  --textoMWeightMobile: 500;
  --textoLWeightDesktop: 700;
  --textoLWeightMobile: 700;
}


/* GLOBAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



a {
  text-decoration: none;
  color: inherit;
}

/* MODO METROPOLIS */
.mode-metropolis-active {
  border: 2px solid magenta;
  color: magenta;
}

.mode-metropolis-inactive {
  border: 2px solid black;
  color: black;
}

.tubo-luz {
  
  height: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.light-off {
  border: 1px solid grey;
  background-color: rgba(255,255,255, .8);
  box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.96);
}

.white-light {
  width: 34rem;
  height: 0rem;
  border-radius: 50px;
  background-color: rgba(255,255,255, .7);
  box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96);
  -webkit-box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96), 1px 0px 9px 0px rgba(253,253,253,0.98);
  -moz-box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96), 1px 0px 9px 0px rgba(253,253,253,0.98);

}

.light-on {
  border-radius: 25px;
  background-color: rgba(255, 0, 255, .5);
  box-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px magenta, 0 0 30px magenta,
    0 0 40px magenta, 0 0 50px magenta;
  -webkit-animation: destello 0.7s infinite alternate;
  animation: destello 0.7s infinite alternate;
}


@-webkit-keyframes destello {
  100% {
    box-shadow: 0 0 3px white, 0 0 10px white, 0 0 20px white, 0 0 40px #0ba9ca,
      0 0 70px magenta, 0 0 80px magenta;
  }
}

@keyframes destello {
  100% {
    box-shadow: 0 0 3px white, 0 0 10px white, 0 0 20px white, 0 0 40px #0ba9ca,
      0 0 70px magenta, 0 0 80px magenta;
  }
}

/* Fin Modo Metropolis */


/* Nav Toggler Button */

.nav__toggler {
  order: 2;
  z-index: 9;
}

.nav__toggler div {
  width: 18px;
  height: 2px;
  transition: 0.4s ease-in;
}

.line1 {
  align-self: flex-end;
}

.nav__toggler {
  cursor: pointer;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  align-self: center;
  height: 100%;
  margin-right: .5em;
  z-index: 4;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-2px, 4px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.nav__active {
  transform: translateX(0%);
  transition: 0.4s linear;
}

.nav-collapsed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

/* End Nav Toggler Button */

/* THEME's SETTINGS */
.dark-theme {
  background-color: var(--darkColor);
  color: var(--lightColor);
}

.light-theme {
  background-color: var(--lightColor);
  color: var(--darkColor);
}
.dark-theme-navbar {
  background-color: var(--darkColorTransparent);
  color: var(--lightColor);
}

.light-theme-navbar {
  background-color: var(--lightColorTransparent);
  color: var(--darkColor);
}


.dark-theme-element {
  background-color: var(--lightColor);
  color: var(--lightColor);
}

.light-theme-element {
  background-color: var(--darkColor);
  color: var(--darkColor);
}

.darkIconBox {
  background-color: var(--darkColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 98%;
}

.light-border {
  border: 3px solid var(--lightColor);
}

.dark-border {
  border: 3px solid var(--darkColor);
}

/* Toggle Button */


.label {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: -2;
  gap: 8px;
}

.icon {
  z-index: 2;
  filter: invert(100%) brightness(100%) grayscale(100%) hue-rotate(90deg) opacity(100%) contrast(175%);
  cursor: pointer;
}
.iconDark {
  width: 100%;
  height: 100%;
  background-color: var(--darkColor);
}

.toggle-box {
  background-color: var(--lightColor);
  height: 44px;
  width: 46px;
  align-self: center;
  position: absolute;
  margin: 2px;
  z-index: 9;
  
}
.box-left {
  right: 3.1rem;
}

.box-right {
  right: 0.1rem;
}

.light-mode-active {
  cursor:pointer;
}

.dark-mode-active {
  cursor:pointer;
}

/* END THEME'S SETTINGS */






/* ======================================================================================================================= 
===================================================== MOBILE ============================================================ 
======================================================================================================================= */

/* BODY */



/* NAVBAR */
#navbar {
  background-image: url('./source/images/background-mobile.png')!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
}




.nav-logo {
  padding: 15px 0;
  width: 50px;
  height: 62px;
}

.full-logo {
  width: 140px;
}

.logoImg {
  width: 100%;
  height: 100%;
}

.nav-container {
  height: 40vh;
  transform: translateY(-130%);
  transition: 0.5s linear;
}

.nav__active {
  transform: translateY(0%);
  transition: 1s linear;
}

.nav-menu {
  height: 100%;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
  list-style: none;
  font-size: 1.3rem;
  transition: all .4s;
  height: 100%;
}

.nav-ul li {
  font-size: var(--textoMSizeDesktop);
  width: 40%;
  text-align: center;
}

.theme-label {
  scale: 60%;
  max-width: fit-content;
}

.toggle {
  position: fixed;
  right: .3em;
}


.nav-li-lang {
  list-style: none;
  transition: all .4s;
  font-weight: bold;
}

.li-instagram a i {
  font-size: 22px;
}
.li-instagram {
  width: 150%;
}

.dropdown-menu {
  position: fixed;
  left: 2.2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  padding: .5em;
  margin-top: .3em;
  justify-content: center;
  align-items: center;
  gap: .7em;
  opacity: 1;
  transition: all .4s;
  transform: translateY(-50%) scaleY(0);
}

.visible {
  transform: translateY(0%);
  transition: transform .4s, opacity 1s ease-in;
  opacity: 1;
  
}

.lang-toggle {
  cursor: pointer;
}

/* End of NAVBAR */

/* MAIN */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  gap: 1rem;
}

.main-logo {
  width: 144px;
}

.main-paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1.5rem;
}

.main-text {
  text-align: center;
  font-size:var(--h2SizeMobile);
  height: 80%;
  height: 7rem;
  padding: 1.3rem;
  overflow: hidden;
}

.main-more {
  cursor: pointer;
  font-weight: var(--textoLWeightMobile);
}

/* End of MAIN */




/* ======================================================================================================================= 
===================================================== DESKTOP ============================================================ 
======================================================================================================================= */

@media screen and (min-width: 900px) {
  
  /* BODY */


  
  /* NAVBAR */
  
  #navbar {
    background-image: url('./source/images/background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
  }

  .nav-logo {
    width: 200px;
    height: 100%;
    padding-left: 2rem;
    align-self: center;
  }

  .nav-container {
    height: fit-content;
  }

  .nav-menu {
    height: 50px;
  }
  
  .nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1.3em;
    list-style: none;
    font-size: 1.3rem;
    padding: 0 2rem;
    transition: all .4s;
    height: 100%;
  }

  .nav-ul li {
    width: 100%;
    min-width: fit-content;
  }
  
  .toggle {
    position: fixed;
    right: .3em;
  }
  
  
  .nav-li-lang {
    list-style: none;
    transition: all .4s;
    font-weight: bold;
  }

  .li-instagram a i {
    font-size: 22px;
  }
  .li-instagram {
    width: 150%;
  }

  .box-left {
    right: 3.1rem;
  }
  
  .box-right {
    right: .1rem;
  }

  /* End of NAVBAR */


  /* MAIN */
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-paragraph {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-text {
    text-align:start;
    font-size:var(--h2SizeDesktop);
    line-height: 35.56px;
  }


  /* End of MAIN */


}