@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* ROOT VARIABLES */

:root {
  /* Color variables */
  --darkColor: #102C2F;
  --lightColor: #FFFFFF;
  --blackColor:#000000;
  --darkColorTransparent: rgba(16, 44, 47, .8);
  --lightColorTransparent: rgba(255, 255, 255, .8);
  --redColor: #cd003d;
  --brownColor: #706261;
  /* Font size variables */
  --h1SizeDesktop: 32px;
  --h1SizeMobile: 20px;
  --h2SizeDesktop: 28px;
  --h2SizeMobile: 16px;
  --subtitleSizeDesktop: 20px;
  --subtitleSizeMobile: 13px;
  --textoMSizeDesktop: 15px;
  --textoMSizeMobile: 11px;
  --textoLSizeDesktop: 16px;
  --textoLSizeMobile: 14px;
  /* Font weight variables */
  --h1WeightDesktop: 700;
  --h1WeightMobile: 700;
  --h2WeightDesktop: 300;
  --h2WeightMobile: 300;
  --subtitleWeightDesktop: 500;
  --subtitleWeightMobile: 500;
  --textoMWeightDesktop: 500;
  --textoMWeightMobile: 500;
  --textoAllWeight:100;
  --textoLWeightDesktop: 700;
  --textoLWeightMobile: 700;
}


/* GLOBAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*outline: 1px solid #f00 !important;*/ /*Activar esta línea para ver el overflow*/
}



a {
  text-decoration: none;
  color: inherit;
}

.main-text {
  text-align:start;
  letter-spacing: 1px;
}

.frame__img-btn-i {
  filter: invert(100%) brightness(120%);
}

/* MODO METROPOLIS */
.mode-metropolis-active {
  border: 2px solid magenta;
  color: magenta;
}

.mode-metropolis-inactive {
  border: 2px solid black;
  color: black;
}

.tubo-luz {
  
  height: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.light-off {
  border: 1px solid grey;
  background-color: rgba(255,255,255, .8);
  box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.96);
}

.white-light {
  width: 34rem;
  height: 0rem;
  border-radius: 50px;
  background-color: rgba(255,255,255, .7);
  box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96);
  -webkit-box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96), 1px 0px 9px 0px rgba(253,253,253,0.98);
  -moz-box-shadow: 1px 1px 24px 10px rgba(255,255,255,0.96), 1px 0px 9px 0px rgba(253,253,253,0.98);

}

.light-on {
  border-radius: 25px;
  background-color: rgba(255, 0, 255, .5);
  box-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px magenta, 0 0 30px magenta,
    0 0 40px magenta, 0 0 50px magenta;
  -webkit-animation: destello 0.7s infinite alternate;
  animation: destello 0.7s infinite alternate;
}


@-webkit-keyframes destello {
  100% {
    box-shadow: 0 0 3px white, 0 0 10px white, 0 0 20px white, 0 0 40px #0ba9ca,
      0 0 70px magenta, 0 0 80px magenta;
  }
}

@keyframes destello {
  100% {
    box-shadow: 0 0 3px white, 0 0 10px white, 0 0 20px white, 0 0 40px #0ba9ca,
      0 0 70px magenta, 0 0 80px magenta;
  }
}

/* Fin Modo Metropolis */


/* Nav Toggler Button */

.nav__toggler {
  order: 2;
  z-index: 9;
}

.nav__toggler div {
  width: 18px;
  height: 2px;
  transition: 0.4s ease-in;
}

.line1 {
  align-self: flex-end;
}

.nav__toggler {
  cursor: pointer;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  align-self: center;
  height: 100%;
  margin-right: .5em;
  z-index: 4;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-2px, 4px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.nav__active {
  transform: translateX(0%);
  transition: 0.4s linear;
}

.nav-collapsed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

/* End Nav Toggler Button */

/* THEME's SETTINGS */
.dark-theme {
  background-color: var(--darkColor);
  color: var(--lightColor);
}

.light-theme {
  background-color: var(--lightColor);
  color: var(--darkColor);
}
.dark-theme-navbar {
  background-color: var(--darkColorTransparent);
  color: var(--lightColor);
}

.light-theme-navbar {
  background-color: var(--lightColorTransparent);
  color: var(--darkColor);
}


.dark-theme-element {
  background-color: var(--lightColor);
  color: var(--lightColor);
}

.light-theme-element {
  background-color: var(--darkColor);
  color: var(--darkColor);
}

.darkIconBox {
  background-color: var(--darkColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 98%;
}

.light-border {
  border: 3px solid var(--lightColor);
}

.dark-border {
  border: 3px solid var(--darkColor);
}

/* Toggle Button */


.label {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: -2;
  gap: 8px;
}

.icon {
  z-index: 2;
  filter: invert(100%) brightness(100%) grayscale(100%) hue-rotate(90deg) opacity(100%) contrast(175%);
  cursor: pointer;
}
.iconDark {
  width: 100%;
  height: 100%;
  background-color: var(--darkColor);
}

.toggle-box {
  background-color: var(--lightColor);
  height: 44px;
  width: 46px;
  align-self: center;
  position: absolute;
  margin: 2px;
  z-index: 9;
  
}
.box-left {
  right: 3.1rem;
}

.box-right {
  right: 0.1rem;
}

.light-mode-active {
  cursor:pointer;
}

.dark-mode-active {
  cursor:pointer;
}

/* END THEME'S SETTINGS */






/* ======================================================================================================================= 
===================================================== MOBILE ============================================================ 
======================================================================================================================= */

/* BODY */



/* NAVBAR */
#navbar {
  background-image: url('./source/images/background-mobile.png')!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
}




.nav-logo {
  padding: 15px 0;
  width: 50px;
  height: 62px;
}

.full-logo {
  width: 140px;
}

.logoImg {
  width: 100%;
  height: 100%;
}

.nav-container {
  height: 40vh;
  transform: translateY(-130%);
  transition: 0.5s linear;
}

.nav__active {
  transform: translateY(0%);
  transition: 1s linear;
}

.nav-menu {
  height: 100%;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
  list-style: none;
  font-size: 1.3rem;
  transition: all .4s;
  height: 100%;
}

.nav-ul li {
  font-size: var(--textoMSizeDesktop);
  width: 40%;
  text-align: center;
}

.theme-label {
  scale: 60%;
  max-width: fit-content;
}

.toggle {
  position: fixed;
  right: .3em;
}


.nav-li-lang {
  list-style: none;
  transition: all .4s;
  font-weight: bold;
}

.li-instagram a i {
  font-size: 22px;
}
.li-instagram {
  width: 150%;
}

.dropdown-menu {
  position: fixed;
  left: 2.2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  padding: .5em;
  margin-top: .3em;
  justify-content: center;
  align-items: center;
  gap: .7em;
  opacity: 1;
  transition: all .4s;
  transform: translateY(-50%) scaleY(0);
}

.visible {
  transform: translateY(0%);
  transition: transform .4s, opacity 1s ease-in;
  opacity: 1;
  
}

.lang-toggle {
  cursor: pointer;
}

/* End of NAVBAR */

/* MAIN */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  gap: 1rem;
}

.main-logo {
  width: 144px;
}

.main-paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1.5rem;
}

.main-text {
  text-align: center;
  font-size:var(--h2SizeMobile);
  font-weight: var(--textoAllWeight);
  padding: 1.75rem;
  transition: all .5s linear;
  line-height: 25.32px;
  
}

.main-text::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-text {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main-more {
  cursor: pointer;
  font-weight: var(--textoLWeightMobile);
}

/* End of MAIN */

/* IMAGE COMPONENT (DESKTOP) */

.image-container {
  align-self: flex-start;
  display: flex;
  transition: all .5s ;
  position: relative;
  height:100%;
  width: 100%;
  
}

.image-container__background-image {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  padding: 10px;
}


.image-container__frame {
  position: absolute;
  transition: all .3s;
  border: 1px solid white;
  scale: 100%;
  transform: scale(100%);
  -webkit-transform:scale(90%);
  -moz-transform:scale(99%);
  
}


.frame__img-text {
  /*display: none;*/
  display: flex;
  position: absolute;
  left: 0%;
  bottom: 0%;
  opacity: 0;
  transition: all 1s linear;
  letter-spacing: 1px;
  font-weight: var(--textoLWeightDesktop);
  background-color: rgba(0, 0, 0, .5);
  height: 5rem;
  width: 100%;
  padding: 50px 0 0 20px;
  z-index: 0;

}

.frame__img-btn-i {
  position: absolute;
  opacity: 1;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  z-index: 99;
  background-color: transparent;
}

.iBtn {
  width: 15px;
  height: 15px;
}

.xBtn {
  filter: invert(0%) brightness(120%);
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.frame__img-btn-plus {
  position: absolute;
  opacity: 0;
  right: 0rem;
  bottom: 0rem;
  cursor: pointer;
  background-color: var(--lightColor);
  color: var(--blackColor) !important;
  padding: .5rem .7rem;
  margin: 1.5rem 1rem;
}

/* End of IMAGE COMPONENT */


/* ======================================================================================================================= 
===================================================== DESKTOP ============================================================ 
======================================================================================================================= */

@media screen and (min-width: 900px) {
  
  /* BODY */


  
  /* NAVBAR */
  
  #navbar {
    background-image: url('./source/images/background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
  }

  .nav-logo {
    width: 200px;
    height: 100%;
    padding-left: 2rem;
    align-self: center;
  }

  .nav-container {
    height: fit-content;
  }

  .nav-menu {
    height: 50px;
  }
  
  .nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1.3em;
    list-style: none;
    font-size: 1.3rem;
    padding: 0 2rem;
    transition: all .4s;
    height: 100%;
  }

  .nav-ul li {
    width: 100%;
    min-width: fit-content;
  }
  
  .toggle {
    position: fixed;
    right: .3em;
  }
  
  
  .nav-li-lang {
    list-style: none;
    transition: all .4s;
    font-weight: bold;
  }

  .li-instagram a i {
    font-size: 22px;
  }
  .li-instagram {
    width: 150%;
  }

  .box-left {
    right: 3.1rem;
  }
  
  .box-right {
    right: .1rem;
  }

  /* End of NAVBAR */


  /* MAIN */
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
  }

  .main-paragraph {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }

  .main-text {
    text-align:start;
    font-size:var(--h2SizeDesktop);
    font-weight: var(--textoAllWeight);
    line-height: 40.56px;
    padding: 0 1.75rem 1.75rem 1.75rem;
  }


  /* End of MAIN */


  /* IMAGE COMPONENT (DESKTOP) */

  .image-container {
    align-self: flex-start;
    display: flex;
    transition: all .5s ;
    position: relative;
    height:100%;
    width: 35%;
  }
  .image-container:hover .image-container__background-image {
    filter: brightness(60%);
  }

  .image-container__background-image {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    padding: 0;
  }
  

  .image-container__frame {
    position: absolute;
    transition: all .3s;
    border: 4px solid white;
    scale: 100%;
    transform: scale(100%);
    -webkit-transform:scale(100%)
  }
  .image-container__frame:hover {
    transition: all .3s ;
    scale: 99%;
    transform: scale(98%);
    -webkit-transform:scale(96%)
  }

  .frame__img-text {
    display: flex;
    position: absolute;
    left: 35%;
    top: 47%;
    opacity: 0;
    transition: all 1s linear;
    letter-spacing: 1px;
    font-weight: var(--textoLWeightDesktop);
    padding: 0;
    background-color: transparent;
    width: auto;
    height: fit-content;
  }

  .frame__img-btn-plus {
    position: absolute;
    opacity: 0;
    right: 0rem;
    bottom: 0rem;
    cursor: pointer;
    background-color: var(--lightColor);
    color: var(--blackColor) !important;
    padding: .5rem .7rem;
    margin: 1.5rem 1rem;
  }

  .frame__img-btn-plus {
    position: absolute;
    opacity: 1;
    right: .5rem;
    bottom: .5rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0;
    background-color:transparent;
    color: var(--lightColor)!important;
  }
  .frame__img-btn-plus:hover {
    background-color: var(--lightColor);
    color: var(--blackColor)!important;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 1rem;
  }

  .image-container__frame:hover .frame__img-text {
    opacity: 1;
    top: 45%;
  }

  .image-container__frame:hover .frame__img-btn-plus {
    opacity: 1;
  }


  /* End of IMAGE COMPONENT */


  /*FOOTER*/

  .footer-container{
    margin-top: 100px;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
  }

  .footer-div{
    margin-top: 25px;
    width: 250px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    flex-flow: row wrap;
    place-content: center space-evenly;
  }

  .footer-icon{
    font-size: 22px;
    margin-top: -8px;
  }

  @font-face {
    font-family: 'Josefin-Sans';
    src: url("./fonts/JosefinSans-Regular.ttf");
  }

  .footer-text{
    font: 22px;
    font-family:'Josefin-Sans';
  }

  .logo-containerA{
    width: 94px;
    height: 94px;
    position: relative;
    align-self: center;
  }

  .dark-logoLine{
    height: 3px;
    background-color: var(--lightColor);
  }

  .light-logoLine{
    height: 3px;
    background-color: var(--darkColor);
  }
 
    
  #lineA{
    width: 57.5%;
    position: absolute;
    transform-origin: left;
    transform: rotate(30deg);
    visibility: hidden;
  }

  #lineB{
    height: 3px;
    width: 57.5%;
    position: absolute;
    transform-origin: right ;
    transform: rotate(-30deg);
    left: 42.5%;
    visibility: hidden;

  }

  #lineC{
    height: 3px;
    width: 57.5%;
    position: absolute;
    transform-origin: left ;
    transform: rotate(90deg);
    left: 50%;
    top: 28.5%;
    visibility: hidden;

  }
  #lineD{
    height: 3px;
    width: 100%;
    position: absolute;
    transform-origin: left ;
    transform: rotate(0deg);
    visibility: hidden;

  }

  #lineE{
    height: 3px;
    width: 100%; 
    position: absolute;
    transform-origin: left ;
    transform: rotate(60deg);
    visibility: hidden;

  }

  #lineF{
    height: 3px;
    width: 100%;
    position: absolute;
    transform-origin: right ;
    transform: rotate(-60deg);
    visibility: hidden;
  }
}